@import 'activeadmin_addons/all';
// Sass variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

$pending-color: #FF9900;
$processing-color: #0e86d4;
$completed-color: #08A510;
$canceled-color: #FF0000;

.status_tag {
  &.pending { background: $pending-color; }
  &.processing { background: $processing-color; }
  &.completed { background: $completed-color; }
  &.canceled { background: $canceled-color; }
}
